<div id="cardContainer">
	<div class="card">
		<div class="cardHeader">
			<a href="">
				<i id="fa" class="fa fa-chevron-left fa-2x"></i>
			</a>
			<img class="cardImage" src="{{attributes.image}}"/>
		</div>
		<div class="data">
		    
			<div class="name">
				<i class="fa fa-user"></i>
				{{attributes.fname}}&nbsp{{attributes.lname}}
			</div>
			<div class="email">
				<i class="fa fa-envelope"></i>
				{{attributes.email}}
			</div>
			<div class="phone">
				<i class="fa fa-mobile"></i>
				{{attributes.phone}}
			</div>
			<div class="city">
				<i class="fa fa-globe"></i>
				{{attributes.city}},&nbsp{{attributes.state}}
			</div>
		</div>

	</div>
</div>