<div class="newContact">
    <form id="newContact" class="newContactForm">
    	<div class="title">
    		Add New Contact
    		<a href="">
    			<i id="faNew" class="fa fa-times fa-lg"></i>
    		</a>
    	</div>
        <input class="inputs" id="fname" placeholder="First Name" />
        <input class="inputs" id="lname" placeholder="Last Name" />
        <input class="inputs" id="email" placeholder="Email" />
        <input class="inputs" id="phone" placeholder="Phone" />
        <input class="inputs" id="city" placeholder="City" />
        <input class="inputs" id="state" placeholder="State" />
        <input class="inputs" id="image" placeholder="Add Photo" />
        <button type="submit">Submit</button>
    </form>
</div>
